* {
  * box-sizing:border-box;
  * margin:0;
  * padding:0;
  * height: 900px;
  }

body {
  font-family: serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #fff;
  height: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  width:100%;
  height: 400px;
  display: flex;
  background-color: #080708;
}

.navbar {
  width: 100%;
  height: 75px;
  background-color: #080708;
  color: white;
  display: flex;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  align-content: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: 10px;
  flex-basis: 100%;
}

.nav {
  display: flex;
  gap: 20px;
  flex:5;
  justify-content: flex-end;
  padding-right: 10px;
}

.header .container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items:center;
  color: #fff;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:600px;
  align-items:center;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  margin-top: auto;
  background-color: #080708;
  color: red;
}

.footer .container {
  flex: 1;
  align-self: baseline;
  width: 100%;
  justify-content: center;
  display: flex;
}

.ad {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.ad div {
  width: 150px;
  height: 60px;
  background-color: #fff;
  margin: 20px;
}

.quote {
  width: 100%;
  background-color: #080708;
  flex: 1;
  margin: 20px;
}

.box {
  flex-basis: 300px;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-style: dotted;
  border-color: #080708;
  min-width:250px;
}

li {
  gap: 8px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  min-height: 33px;
  max-width: 200px;
}


.boxes .container {
  display:flex;
  margin: 10px;
  gap: 50px;
  align-content: center;
  justify-content: center;
}

.quote .container {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.ad .container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ad .container button {
  max-width: 100px;
  max-height: 40px;
  align-self: center;
  margin: 10px;
}

.logo {
  flex:1;
}

h1, p {
  color: #fff;
}

.footer .container p {
  color: #fff;
}

.box h2 {
  align-self: center;
  color: #080708;
}

.box p {
  padding:10px;
  color: #080708;
}

.ad .container p {
  color: #080708;
}

/* @media(max-width: 768px) {
  .boxes .container {
    flex-direction:column;
    text-align:center;
  }
}
*/ add this maybe??
